{% extends '@FroqPortalBundle/portal-layout.html.twig' %}

{% block title %} Messenger Queues {% endblock %}

{% block body %}
    <main class="pt-m pb-xs pl-xl pr-xl">
        <div class="main-content flex gap-5 ">
            <section class="grow ">
                <div class="relative h-full flex flex-col justify-between" id="content">
                    <div style="padding-bottom: 10px">
                        <app-sort-button class="sort-button">
                            <div class="sort-button__selector-wrapper">
                                <button class="sort-button__selector"
                                        type="button"
                                        aria-label="Find by Queue Name"
                                        data-role="sort_button_selector"
                                >
                                    {{ currentQueueName }}
                                </button>
                            </div>

                            <div class="sort-button__list-wrapper">
                                <ul class="sort-button__list" data-role="sort_button_list">
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'generate_asset_thumbnail' }) }}">generate_asset_thumbnail</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'switch_upload' }) }}">switch_upload</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'switch_upload_mailer' }) }}">switch_upload_mailer</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'put_file_metadata' }) }}">put_file_metadata</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'put_file_metadata_failed' }) }}">put_file_metadata_failed</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'put_file_dates' }) }}">put_file_dates</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'put_file_dates_failed' }) }}">put_file_dates_failed</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'youwe_es_indexing' }) }}">youwe_es_indexing</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'generate_asset_thumbnail_failed' }) }}">generate_asset_thumbnail_failed</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'switch_upload_failed' }) }}">switch_upload_failed</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'switch_upload_mailer_failed' }) }}">switch_upload_mailer_failed</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'youwe_es_indexing_failed' }) }}">youwe_es_indexing_failed</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'pimcore_core' }) }}">pimcore_core</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'pimcore_core' }) }}">pimcore_image_optimize</a>
                                    </li>
                                    <li data-role="sort_button_list_item">
                                        <a href="{{ path('froq_dashboard.messenger', { queue_name: 'pimcore_core' }) }}">pimcore_maintenance</a>
                                    </li>
                                </ul>
                            </div>
                        </app-sort-button>
                    </div>

                    <app-static-list class="list-container-alt overflow-auto bg-white h-dvh">
                        <div class="list" data-role="list">
                            <div class="list-header" data-role="list_header">
                                <div><strong>Message Id</strong></div>
                                <div><strong>Queue Name</strong></div>
                                <div><strong>Message Class</strong></div>
                                <div><strong>Created At</strong></div>
                                <div><strong>Available At</strong></div>
                            </div>

                            {% if messageItems is not empty %}
                                {% for messageItem in messageItems %}
                                    <app-list-item class="list-item">
                                        {% for columnName in ['Message Id', 'Queue Name', 'Message Class', 'Created At', 'Available At'] %}
                                            <div class="relative">
                                                {% if columnName == 'Message Id' %}
                                                    {{ messageItem.messageId }}
                                                {% elseif columnName == 'Queue Name' %}
                                                    {{ messageItem.queueName }}
                                                {% elseif columnName == 'Message Class' %}
                                                    {{ messageItem.messageClass }}
                                                {% elseif columnName == 'Created At' %}
                                                    {{ messageItem.createdAt|date("F j, Y H:i") }}
                                                {% elseif columnName == 'Available At' %}
                                                    {{ messageItem.availableAt|date("F j, Y H:i") }}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </app-list-item>
                                {% endfor %}
                            {% endif %}

                            {% if messageItems is empty %}
                                <div class="">
                                    No Message Queues Found
                                </div>
                            {% endif %}
                        </div>
                    </app-static-list>

                    {% if messageItems is not empty %}
                        {% include '@FroqPortal/partials/paginator.html.twig' with { currentPage, totalPages } %}
                    {% endif %}
                </div>
            </section>
        </div>
    </main>
{% endblock body %}