<div id="asset-resource-collection"
     class="w-full mb-4"
     data-controller="asset-resource-collection"
     data-asset-resource-collection-current-view-value="{{ currentView }}"
>
    <!-- Grid View -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 !gap-2 {{ currentView == 'grid' ? '' : 'hidden' }}"
         data-asset-resource-collection-target="gridContainer">
        {% for item in assetResourceItems %}
            {% set asset = get_asset_by_id(item.assetId) %}

            {% if item is not empty and asset is not empty %}
                {% set imageSrc = get_asset_thumbnail_hashed_url(asset, 'portal_asset_library_item_grid') %}

                <twig:AssetGridCard
                    id="{{ item.assetResourceId }}"
                    :asset="asset"
                    name="{{ item.filename }}"
                    imagePath="{{ imageSrc }}"
                    :columns="columns"
                    detailPath="{{ path('froq_portal.asset_library.detail', { 'id': item.assetResourceId }) }}"
                />
            {% endif %}
        {% endfor %}
    </div>

    <!-- List/Table View -->
    <div class="bg-white rounded-lg shadow-sm overflow-hidden {{ currentView == 'list' ? '' : 'hidden' }}"
         data-asset-resource-collection-target="listContainer"
    >
        <table class="w-full" style="border-collapse: separate; border-spacing: 0;">
            <thead id="asset-resource-header" class="bg-gray-50 {{ isHeaderHidden ? 'hidden' : '' }}" style="background-color: #F8F9FA; border-bottom: 1px solid #E4E7EC;">
            <tr>
                {% for column in columns|default([]) %}
                    {% if column is not empty %}
                        <th class="py-4 px-6 text-left text-xs font-semibold text-black uppercase tracking-wider">
                            {{ column.label }}
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>

            <tbody class="bg-white divide-y divide-gray-100">
            {% for item in assetResourceItems %}
                {% set asset = get_asset_by_id(item.assetId) %}

                {% if item is not empty and asset is not empty %}
                    {% set imageSrc = get_asset_thumbnail_hashed_url(asset, 'portal_asset_library_item_grid') %}

                    <twig:AssetResourceTableRow
                            id="{{ item.assetResourceId }}"
                            name="{{ item.filename }}"
                            imagePath="{{ imageSrc }}"
                            detailPath="{{ path('froq_portal.asset_library.detail', { id: item.assetResourceId }) }}"
                    />
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>