<div id="print-expert-notes-section-{{ printGuideline.id }}" class="print-expert-notes-section bg-white rounded-lg shadow-sm p-[38px]">
    <div class="flex justify-between items-center mb-6">
        <p class="text-18 font-bold text-[#171B3F] leading-32">{{ printGuideline.key }}</p>
    </div>

    <twig:PrintInfo description="{{ printGuideline.description }}" />

    {% for attachmentFile in this.attachmentFiles %}
        {% if attachmentFile is not empty %}
            <div class="flex flex-col md:flex-row">
                <div class="flex flex-col items-center" style="max-width: 600px;">
                    {% set imageSrc = get_asset_thumbnail_hashed_url(attachmentFile, 'portal_asset_library_item_grid') %}

                    <img src="{{ imageSrc }}" alt="{{ attachmentFile.filename }}" class="mb-2">
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>