{#{% set columns = get_asset_library_columns_for_user(user) %}#}

{#{% for item in items %}#}
{#    <app-grid-item class="grid-item" link-url="{{ url('froq_portal.asset_library.detail', { 'id' : item.id }) }}"#}
{#                   role="link">#}

{#        {% for column in columns %}#}
{#            {% set columnKey = column.AssetLibraryColumnProperty.data %}#}
{#            {% set columnLabel = get_available_column_label(columnKey, user) %}#}
{#            <div>#}
{#                {% if columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_THUMBNAIL') %}#}
{#                    {% if item.asset and (get_class_name(item.asset) == 'Pimcore\\Model\\Asset\\Image') %}#}
{#                        <img class="grid-item__image" src="{{ item.asset.thumbnail('portal_asset_library_item') }}">#}
{#                    {% endif %}#}
{#                {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_FILE_NAME') %}#}
{#                    <strong class="grid-item__title text-sm">#}
{#                        {% if item.asset and item.asset.fileName %}#}
{#                            {{ item.asset.fileName }}#}
{#                        {% endif %}#}
{#                    </strong>#}
{#                {% endif %}#}
{#            </div>#}
{#        {% endfor %}#}

{#        <ul class="grid-item__details">#}
{#            {% for column in columns %}#}
{#                {% set columnKey = column.AssetLibraryColumnProperty.data %}#}
{#                {% set columnLabel = get_available_column_label(columnKey, user) %}#}
{#                {% set value = null %}#}
{#                {% if columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_ASSET_NAME') %}#}
{#                    {% set value = item.name %}#}
{#                {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_SKU') %}#}
{#                    {% if item.products %}#}
{#                        {% set value = item.products[0].sku %}#}
{#                    {% endif %}#}
{#                {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_TYPE') %}#}
{#                    {% if item.assetType %}#}
{#                        {% set value = item.assetType.name %}#}
{#                    {% endif %}#}
{#                {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_PROJECT_NAME') %}#}
{#                    {% if item.projects %}#}
{#                        {% set value = item.projects[0].name %}#}
{#                    {% endif %}#}
{#                {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_MODIFICATION_DATE') %}#}
{#                    {% if item.asset %}#}
{#                        {% set value = item.modificationDate | date("d-m-Y") %}#}
{#                    {% endif %}#}
{#                {% endif %}#}

{#                {% if value %}#}
{#                    <li class="text-xs"><strong>{{ columnLabel }}:</strong> {{ value }}</li>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </ul>#}

{#    </app-grid-item>#}
{#{% else %}#}
{#    <app-grid-item class="grid-item">#}
{#        <div>#}
{#            <em>No record found</em>#}
{#        </div>#}
{#    </app-grid-item>#}
{#{% endfor %}#}

