{% if settings.isSKUSectionEnabled %}
    <div class="asset-information__section"
         data-role="asset_information_section"
         data-hide-text="Hide other SKUs"
         data-show-text="View all SKUs">
        <div class="asset-information__section-title" data-role="asset_information_section_title"
             tabindex="0">
            <strong>{{ get_section_label_for_asset_detail_config(settings, 'skuSectionTitle') }}</strong>
        </div>
        <div class="asset-information__section-content"
             data-role="asset_information_section_content">
            {% if products is not empty %}
                {% for product in products %}
                    <dl>
                        {% if settings.skuSectionItems.data.product_name.enabled %}
                            <dt>{{ get_table_row_label_for_asset_detail_config(settings, 'skuSectionItems', 'product_name') }}</dt>

                            {% set keywordFieldUrl = url('froq_portal.asset_library.search', {'filters': {'product_name': [product.name | lower ]}}) | raw %}
                            {% set textFieldUrl = url('froq_portal.asset_library.search', {'filters': {'product_name_text': '"'~product.name~'"'}}) | raw %}

                            <twig:FieldValue :user="user"
                                             :fieldValue="product.name"
                                             :keywordFieldName="'product_name'"
                                             :textFieldName="'product_name_text'"
                                             :keywordFieldUrl="keywordFieldUrl"
                                             :textFieldUrl="textFieldUrl"
                            />
                        {% endif %}

                        {% if settings.skuSectionItems.data.product_sku.enabled %}
                            <dt>{{ get_table_row_label_for_asset_detail_config(settings, 'skuSectionItems', 'product_sku') }}</dt>

                            {% set keywordFieldUrl = url('froq_portal.asset_library.search', {'filters': {'product_sku': [product.sku | lower ]}}) | raw %}
                            {% set textFieldUrl = url('froq_portal.asset_library.search', {'filters': {'product_sku_text': '"'~product.sku~'"'}}) | raw %}

                            <twig:FieldValue :user="user"
                                             :fieldValue="product.sku"
                                             :keywordFieldName="'product_sku'"
                                             :textFieldName="'product_sku_text'"
                                             :keywordFieldUrl="keywordFieldUrl"
                                             :textFieldUrl="textFieldUrl"
                            />
                        {% endif %}

                        {% if settings.skuSectionItems.data.product_ean.enabled %}
                            <dt>{{ get_table_row_label_for_asset_detail_config(settings, 'skuSectionItems', 'product_ean') }}</dt>

                            {% set keywordFieldUrl = url('froq_portal.asset_library.search', {'filters': {'product_ean': [product.ean | lower ]}}) | raw %}
                            {% set textFieldUrl = url('froq_portal.asset_library.search', {'filters': {'product_ean_text': '"'~product.ean~'"'}}) | raw %}

                            <twig:FieldValue :user="user"
                                             :fieldValue="product.ean"
                                             :keywordFieldName="'product_ean'"
                                             :textFieldName="'product_ean_text'"
                                             :keywordFieldUrl="keywordFieldUrl"
                                             :textFieldUrl="textFieldUrl"
                            />
                        {% endif %}

                        {% set netContentStatement = product.getNetContentStatement|default(null) %}

                        {% if netContentStatement is not empty %}
                            {% if settings.skuSectionItems.data.net_content_statement.enabled %}
                                <dt>{{ get_table_row_label_for_asset_detail_config(settings, 'skuSectionItems', 'net_content_statement') }}</dt>
                                <dd>
                                    {% if netContentStatement and is_asset_library_keyword_filter_available_for_user(user, 'net_content_statement') %}
                                        <a href="{{ url('froq_portal.asset_library.search', {'filters': {'net_content_statement': [netContentStatement | lower ]}}) | raw }}">
                                            {{ netContentStatement }}
                                        </a>
                                    {% else %}
                                        {{ netContentStatement|default('-') }}
                                    {% endif %}
                                </dd>
                            {% endif %}
                        {% endif %}

                        {% set netContents = get_net_contents(product) %}

                        {% if netContents is not empty %}
                            {% if settings.skuSectionItems.data.net_contents.enabled %}
                                <dt>{{ get_table_row_label_for_asset_detail_config(settings, 'skuSectionItems', 'net_contents') }}</dt>

                                <dd>
                                    {% for netContent in netContents %}
                                        {% set netContentValue = netContent.getValue|default(null) %}
                                        {% set netContentUnit = netContent.getUnit|default(null) %}

                                        {% if netContentUnit.getAbbreviation|default('') == 'ml' %}
                                            <div>
                                                {% if netContentValue and is_asset_library_keyword_filter_available_for_user(user, 'net_contents_ml') %}
                                                    <a href="{{ url('froq_portal.asset_library.search', { 'filters': {'net_contents_ml': [netContentValue~' ml' | lower ]} }) | raw }}">
                                                        {{ netContentValue~' ml' }}
                                                    </a>
                                                {% else %}
                                                    {{ (netContentValue ~ ' ml')|default('-') }}
                                                {% endif %}
                                            </div>
                                        {% elseif netContentUnit.getAbbreviation|default('') == 'cl' %}
                                            {% set centilitreToMillilitre = netContent.getUnit.getFactor * netContentValue %}
                                            <div>
                                                {% if centilitreToMillilitre and is_asset_library_keyword_filter_available_for_user(user, 'net_contents_ml') %}

                                                    <a href="{{ url('froq_portal.asset_library.search', { 'filters': {'net_contents_ml': [centilitreToMillilitre~' ml' | lower ]} }) | raw }}">
                                                        {{ centilitreToMillilitre~' ml' }}
                                                    </a>
                                                {% else %}
                                                    {{ (centilitreToMillilitre~' ml')|default('-') }}
                                                {% endif %}
                                            </div>
                                        {% elseif netContentUnit.getAbbreviation|default('') == 'l' %}
                                            {% set litreToMillilitre = netContent.getUnit.getFactor * netContentValue %}
                                            <div>
                                                {% if litreToMillilitre and is_asset_library_keyword_filter_available_for_user(user, 'net_contents_ml') %}

                                                    <a href="{{ url('froq_portal.asset_library.search', { 'filters': {'net_contents_ml': [litreToMillilitre~' ml' | lower ]} }) | raw }}">
                                                        {{ litreToMillilitre~' ml' }}
                                                    </a>
                                                {% else %}
                                                    {{ (litreToMillilitre~' ml')|default('-') }}
                                                {% endif %}
                                            </div>
                                        {% elseif netContentUnit.getAbbreviation|default('') == 'g' %}
                                            <div>
                                                {% if netContentValue and is_asset_library_keyword_filter_available_for_user(user, 'net_contents_g') %}
                                                    <a href="{{ url('froq_portal.asset_library.search', { 'filters':  {'net_contents_g': [netContentValue~' g' | lower ]} }) | raw }}">
                                                        {{ netContentValue~' g' }}
                                                    </a>
                                                {% else %}
                                                    {{ (netContentValue~' g')|default('-') }}
                                                {% endif %}
                                            </div>
                                        {% elseif netContentUnit.getAbbreviation|default('') == 'kg' %}
                                            {% set kilogramToGram = netContent.getUnit.getFactor * netContentValue %}
                                            <div>
                                                {% if kilogramToGram and is_asset_library_keyword_filter_available_for_user(user, 'net_contents_g') %}
                                                    <a href="{{ url('froq_portal.asset_library.search', { 'filters': {'net_contents_g': [kilogramToGram~' g' | lower ]} }) | raw }}">
                                                        {{ kilogramToGram~' g' }}
                                                    </a>
                                                {% else %}
                                                    {{ (kilogramToGram~' g')|default('-') }}
                                                {% endif %}
                                            </div>
                                        {% elseif netContentUnit.getAbbreviation|default('') == 'pcs' %}
                                            <div>
                                                {% if netContentValue and is_asset_library_keyword_filter_available_for_user(user, 'net_contents_pcs') %}
                                                    <a href="{{ url('froq_portal.asset_library.search', { 'filters': {'net_contents_pcs': [netContentValue~' pcs' | lower ]} }) | raw }}">
                                                        {{ netContentValue~' pcs' }}
                                                    </a>
                                                {% else %}
                                                    {{ (netContentValue~' pcs')|default('-') }}
                                                {% endif %}
                                            </div>
                                        {% elseif netContentUnit.getAbbreviation|default('') == 'ea' %}
                                            <div>
                                                {% if netContentValue and is_asset_library_keyword_filter_available_for_user(user, 'net_contents_pcs') %}
                                                    <a href="{{ url('froq_portal.asset_library.search', { 'filters': {'net_contents_pcs': [netContentValue~' pcs' | lower ]} }) | raw }}">
                                                        {{ netContentValue~' pcs' }}
                                                    </a>
                                                {% else %}
                                                    {{ (netContentValue~' pcs')|default('-') }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </dd>
                            {% endif %}
                        {% endif %}

                        {% set netUnitContents = get_net_unit_contents(product) %}

                        {% if netUnitContents is not empty %}
                            {% if settings.skuSectionItems.data.net_unit_contents.enabled %}
                                <dt>{{ get_table_row_label_for_asset_detail_config(settings, 'skuSectionItems', 'net_unit_contents') }}</dt>

                                <dd>
                                    {% for netUnitContent in netUnitContents %}
                                        {% set netUnitContentValue = netUnitContent.getValue|default(null) %}
                                        {% set netUnitContentUnit = netUnitContent.getUnit|default(null) %}


                                        {% if netUnitContentUnit.getAbbreviation|default('') == 'ml' %}
                                            <div>
                                                {% if netUnitContentValue and is_asset_library_keyword_filter_available_for_user(user, 'net_unit_contents_ml') %}
                                                    <a href="{{ url('froq_portal.asset_library.search', { 'filters': {'net_unit_contents_ml': [netUnitContentValue~' ml' | lower ]} }) | raw }}">
                                                        {{ netUnitContentValue~' ml' }}
                                                    </a>
                                                {% else %}
                                                    {{ (netUnitContentValue~' ml')|default('-') }}
                                                {% endif %}
                                            </div>
                                        {% elseif netUnitContentUnit.getAbbreviation|default('') == 'l' %}
                                            {% set litreToMillilitre = netUnitContent.getUnit.getFactor * netUnitContentValue %}
                                            <div>
                                                {% if litreToMillilitre and is_asset_library_keyword_filter_available_for_user(user, 'net_unit_contents_ml' ) %}
                                                    <a href="{{ url('froq_portal.asset_library.search', { 'filters': {'net_unit_contents_ml': [litreToMillilitre~' ml' | lower ]} }) | raw }}">
                                                        {{ litreToMillilitre~' ml' }}
                                                    </a>
                                                {% else %}
                                                    {{ (litreToMillilitre~' ml')|default('-') }}
                                                {% endif %}
                                            </div>
                                        {% elseif netUnitContentUnit.getAbbreviation|default('') == 'g' %}
                                            <div>
                                                {% if netUnitContentValue and is_asset_library_keyword_filter_available_for_user(user, 'net_unit_contents_g') %}
                                                    <a href="{{ url('froq_portal.asset_library.search', { 'filters': {'net_unit_contents_g': [netUnitContentValue~' g' | lower ]} }) | raw }}">
                                                        {{ netUnitContentValue~' g' }}
                                                    </a>
                                                {% else %}
                                                    {{ (netUnitContentValue~' g')|default('-') }}
                                                {% endif %}
                                            </div>
                                        {% elseif netUnitContentUnit.getAbbreviation|default('') == 'kg' %}
                                            {% set kilogramToGram = netUnitContent.getUnit.getFactor * netUnitContentValue %}
                                            <div>
                                                {% if kilogramToGram and is_asset_library_keyword_filter_available_for_user(user, 'net_unit_contents_g') %}
                                                    <a href="{{ url('froq_portal.asset_library.search', { 'filters': {'net_unit_contents_g': [kilogramToGram~' g' | lower ]} }) | raw }}">
                                                        {{ kilogramToGram~' g' }}
                                                    </a>
                                                {% else %}
                                                    {{ (kilogramToGram~' g')|default('-') }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </dd>
                            {% endif %}
                        {% endif %}

                        {% if settings.skuInfoSectionAttributes and settings.skuInfoSectionAttributes.items %}
                            {% for fc in settings.skuInfoSectionAttributes.items %}
                                {% set label = fc.label %}
                                {% set key = fc.metadataKey %}
                                {% set product = portal_asset_resource_product(item) %}
                                {% set value = product == null ? '-' : get_sku_attribute_value_by_key(product, key) %}

                                {% if value %}
                                    <dt>{{ (label and (label !=''))? label : key }}</dt>
                                    <dd>
                                        {% if is_asset_library_keyword_filter_available_for_user(user, key) %}
                                            <a href="{{ url('froq_portal.asset_library.search', {'filters': {(key): [value | lower ]}}) | raw }}">
                                                {{ value }}
                                            </a>
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    </dd>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% set categoryHierarchies = portal_product_category_hierarchies(product) %}
                        {% if categoryHierarchies is not empty %}
                            {% for label, categoryHierarchy in categoryHierarchies %}
                                {% if (label | lower == 'segment') and (categoryHierarchy is not empty) and settings.skuSectionItems.data.product_category_segment.enabled %}
                                    <dt>{{ get_table_row_label_for_asset_detail_config(settings, 'skuSectionItems', 'product_category_segment') }}</dt>
                                    <dd>
                                        {% for key, categories in categoryHierarchy %}
                                            {% if is_asset_library_keyword_filter_available_for_user(user, 'product_category_segment' ) %}
                                                <a href="{{ url('froq_portal.asset_library.search', {'filters': {'product_category_segment': [key | lower ]}}) | raw }}">
                                                    {{ categories }}
                                                </a>
                                            {% else %}
                                                {{ categories }}
                                            {% endif %}
                                            <br/>
                                        {% endfor %}
                                    </dd>
                                {% elseif (label | lower == 'brand') and (categoryHierarchy is not empty) and settings.skuSectionItems.data.product_category_brand.enabled %}
                                    <dt>{{ get_table_row_label_for_asset_detail_config(settings, 'skuSectionItems', 'product_category_brand') }}</dt>
                                    <dd>
                                        {% for key, categories in categoryHierarchy %}
                                            {% if is_asset_library_keyword_filter_available_for_user(user, 'product_category_brand' ) %}
                                                <a href="{{ url('froq_portal.asset_library.search', {'filters': {'product_category_brand': [key | lower ]}}) | raw }}">
                                                    {{ categories }}
                                                </a>
                                            {% else %}
                                                {{ categories }}
                                            {% endif %}
                                            <br/>
                                        {% endfor %}
                                    </dd>
                                {% elseif (label | lower == 'campaign') and (categoryHierarchy is not empty) and settings.skuSectionItems.data.product_category_campaign.enabled %}
                                    <dt>{{ get_table_row_label_for_asset_detail_config(settings, 'skuSectionItems', 'product_category_campaign') }}</dt>
                                    <dd>
                                        {% for key, categories in categoryHierarchy %}
                                            {% if is_asset_library_keyword_filter_available_for_user(user, 'product_category_campaign' ) %}
                                                <a href="{{ url('froq_portal.asset_library.search', {'filters': {'product_category_campaign': [key | lower ]}}) | raw }}">
                                                    {{ categories }}
                                                </a>
                                            {% else %}
                                                {{ categories }}
                                            {% endif %}
                                            <br/>
                                        {% endfor %}
                                    </dd>
                                {% elseif (label | lower == 'market') and (categoryHierarchy is not empty) and settings.skuSectionItems.data.product_category_campaign.enabled %}
                                    <dt>{{ get_table_row_label_for_asset_detail_config(settings, 'skuSectionItems', 'product_category_market') }}</dt>
                                    <dd>
                                        {% for key, categories in categoryHierarchy %}
                                            {% if is_asset_library_keyword_filter_available_for_user(user, 'product_category_market' ) %}
                                                <a href="{{ url('froq_portal.asset_library.search', {'filters': {'product_category_market': [key | lower ]}}) | raw }}">
                                                    {{ categories }}
                                                </a>
                                            {% else %}
                                                {{ categories }}
                                            {% endif %}
                                            <br/>
                                        {% endfor %}
                                    </dd>
                                {% elseif (label | lower == 'platform') and (categoryHierarchy is not empty) and settings.skuSectionItems.data.product_category_platform.enabled %}
                                    <dt>{{ get_table_row_label_for_asset_detail_config(settings, 'skuSectionItems', 'product_category_platform') }}</dt>
                                    <dd>
                                        {% for key, categories in categoryHierarchy %}
                                            {% if is_asset_library_keyword_filter_available_for_user(user, 'product_category_platform' ) %}
                                                <a href="{{ url('froq_portal.asset_library.search', {'filters': {'product_category_platform': [key | lower ]}}) | raw }}">
                                                    {{ categories }}
                                                </a>
                                            {% else %}
                                                {{ categories }}
                                            {% endif %}
                                            <br/>
                                        {% endfor %}
                                    </dd>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </dl>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}