{% extends '@FroqPortalBundle/portal-layout.html.twig' %}

{% block title %} Search | Asset Library{% endblock %}

{% block body %}
    <twig:Navbar logoLink="{{ path('froq_portal.asset_library.search') }}" :user="app.user" />

    <div class="min-h-screen px-[30px]"
         data-controller="search"
         data-search-url-value="{{ path('froq_portal.asset_library.search') }}"
    >
        <div class="flex flex-wrap items-center gap-6 py-1">
            <h1 class="font-semibold text-36 text-[#171B3F] w-284">Asset Library</h1>

            <div class="flex-grow">
                <twig:SearchBar placeholder="Search by asset (file)name, project, product or other details" />
            </div>

            {% block result_count %}
                <span id="asset-resource-result-count" class="text-16 leading-26 font-normal text-[#102717] font-sans">
                    Result <span class="font-bold">{{ totalCount }}</span> Assets
                </span>
            {% endblock %}

            <div class="flex items-center gap-2">
                <twig:Dropdown
                    id="sort-dropdown"
                    keyLabel="Sort by:"
                    :sortOptions="sortOptions"
                    :selectedSortOption="selectedSortOption"
                    placeholder="Search sorting options..."
                />
            </div>

            <div>
                <twig:ViewToggle view="{{ app.request.query.get('view', 'grid') }}" />
            </div>

            <twig:ShareModal url="{{ path('froq_basket.selected_asset_resource') }}">
                <button id='share-button' data-role="share-button" id="gridViewButton" class="modal-share-button" >
                    {% include '@FroqPortal/icons/basket-icon.html.twig' %}
                    Basket
                    <span class="selected-number-indicator hidden"></span>
                </button>
            </twig:ShareModal>
        </div>

        <turbo-frame id="asset-page" data-search-target="assetPage">
            <div class="flex flex-col md:flex-row gap-6">
                <div class="w-full md:w-280 flex-shrink-0">
                    <twig:Sidebar
                        :sidebarFilters="sidebarFilters"
                        :hasSelectedFilters="hasSelectedFilters"
                        homeUrl="{{ path('froq_portal.asset_library.search') }}"
                    />
                </div>

                <div class="flex-grow" id="asset-resource-items"
                     data-controller="infinite-scroll-asset"
                     data-infinite-scroll-asset-page-value="{{ paginator.page }}"
                     data-infinite-scroll-asset-url-value="{{ path('froq_portal.asset_library.search') }}"
                >
                    {% if assetResourceItems is empty %}
                        <div class="flex flex-col items-center justify-start p-8 bg-white rounded-md shadow-sm h-[200vh]">
                            <p class="text-gray-500">No items found</p>
                        </div>
                    {% endif %}

                    {% if assetResourceItems is not empty %}
                        <twig:AssetResourceCollection
                            :columns="columns"
                            :assetResourceItems="assetResourceItems"
                            currentView="{{ app.request.query.get('view', 'grid') }}"
                            :isHeaderHidden="false"
                        />
                    {% endif %}
                </div>

                <turbo-stream action="replace" target="asset-resource-result-count">
                    <template>
                        {{ block('result_count') }}
                    </template>
                </turbo-stream>
            </div>
        </turbo-frame>
    </div>
{% endblock %}
