<button 
    {{ attributes }}
    class="flex items-center justify-center w-34 h-34 rounded-full transition-colors duration-200 {{ active ? 'bg-[#009383]' : 'bg-white' }} {{ class }}"
    aria-label="{{ label }}"
>
    <twig:Icon 
        name="{{ icon }}" 
        size="md" 
        class="{{ active ? 'text-white' : 'text-[#009383]' }}"
    />
</button> 