{% set columns = get_asset_library_columns_for_user(user) %}

{% if items is not empty %}
    {% for assetResource in items %}
        {% set assetResource = get_latest_asset_resource_version(assetResource) %}
        <app-grid-item class="grid-item card col-span-1 box-border flex flex-col justify-between h-full" data-role="selector-target">
            <a class="card-link" href="{{ url('froq_portal.asset_library.detail', { 'id' : assetResource.id }) }}">
                <div class='img-container'>
                    {% for column in columns %}
                        {% set columnKey = column.AssetLibraryColumnProperty.data %}

                        {% if columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_THUMBNAIL') %}
                            {% include '@FroqPortalBundle/partials/asset-thumbnail-grid-view.html.twig' with { 'asset': assetResource.asset } %}
                        {% endif %}
                    {% endfor %}
                </div>

                <twig:Tooltip label="{{ assetResource.asset ?  assetResource.asset.fileName : 'No filename' }}">
                    <h1 class="truncate-text-title title-wrap">
                        {{ assetResource.asset ?  assetResource.asset.fileName : 'No filename' }}
                    </h1>
                </twig:Tooltip>

                <div class="card-body">
                    <ul>
                        {% for column in columns %}
                            {% set columnKey = column.AssetLibraryColumnProperty.data %}

                            {% if columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_PRODUCT_EAN') %}
                                <li><p class="m-0 wrap-text"><span>{{ get_available_column_label(columnKey, user)  }}: </span>{{ portal_asset_resource_product_ean(assetResource)|default('-')|raw }}</p></li>
                            {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_FROQ_PROJECT_NUMBER') %}
                                <li><p class="m-0 wrap-text"><span>{{ get_available_column_label(columnKey, user)  }}: </span>{{ portal_asset_resource_froq_project_number(assetResource)|default('-')|raw }}</p></li>
                            {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_PIM_PROJECT_NUMBER') %}
                                <li><p class="m-0 wrap-text"><span>{{ get_available_column_label(columnKey, user)  }}: </span>{{ portal_asset_resource_pim_project_number(assetResource)|default('-')|raw }}</p></li>
                            {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_PRODUCT_NAME') %}
                                <li><p class="m-0 wrap-text"><span>{{ get_available_column_label(columnKey, user)  }}: </span>{{ portal_asset_resource_product_name(assetResource)|default('-')|raw  }}</p></li>
                            {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_ASSET_NAME') %}
                                <li><p class="m-0 wrap-text"><span>{{ get_available_column_label(columnKey, user)  }}: </span>{{ assetResource.name }}</p></li>
                            {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_SKU') %}
                                <li><p class="m-0 wrap-text"><span>{{ get_available_column_label(columnKey, user)  }}: </span>{{ portal_asset_resource_product_sku(assetResource)|default('-')|raw }}</p></li>
                            {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_TYPE') %}
                                <li><p class="m-0 wrap-text"><span>{{ get_available_column_label(columnKey, user)  }}: </span>{{ assetResource.assetType?  assetResource.assetType.name : '' }}</p></li>
                            {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_PROJECT_NAME') %}
                                <li><p class="m-0 wrap-text"><span>{{ get_available_column_label(columnKey, user)  }}: </span>{{ portal_asset_resource_project_name(assetResource)|default('-')|raw }}</p></li>
                            {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_ASSET_RESOURCE_CREATION_DATE') %}
                                <li><p class="m-0 wrap-text"><span>{{ get_available_column_label(columnKey, user)  }}: </span> {{ assetResource.creationDate | date("d-m-Y") }}</p></li>
                            {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_ASSET_CREATION_DATE') %}
                                <li><p class="m-0 wrap-text"><span>{{ get_available_column_label(columnKey, user)  }}: </span>{{ assetResource.asset ? (assetResource.asset.creationDate | date("d-m-Y")) : '' }}</p></li>
                            {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_FILE_CREATE_DATE') %}
                                <li><p class="m-0 wrap-text"><span>{{ get_available_column_label(columnKey, user)  }}: </span>{{ assetResource.fileCreateDate ? (assetResource.fileCreateDate | date("d-m-Y")) : '' }}</p></li>
                            {% elseif columnKey == constant('Froq\\PortalBundle\\PimcoreOptionsProvider\\AssetLibColumnOptionsProvider::ASSET_LIB_COLUMN_FILE_MODIFY_DATE') %}
                                <li><p class="m-0 wrap-text"><span>{{ get_available_column_label(columnKey, user)  }}: </span>{{ assetResource.fileModifyDate ? (assetResource.fileModifyDate | date("d-m-Y")) : '' }}</p></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="hidden gap-4">
                    <a class="flex text-primary no-underline" href="{{ url('froq_portal.asset_library.detail', { 'id' : assetResource.id }) }}">
                        <div class="view-icon">{% include '@FroqPortal/icons/open-link.html.twig' %}</div>

                        <div class="text">view</div>
                    </a>
                </div>

                <div class="card-footer justify-around">
                    <a class="py-2 mx-auto footer-button" href="{{ path('froq_portal.asset_library.detail.download.file', { 'id': assetResource.id }) }}">
                        <twig:Tooltip label="Download">
                            <div class="download-icon">{% include '@FroqPortal/icons/download-link.html.twig' %}</div>
                        </twig:Tooltip>
                    </a>
                    <a class="py-2 mx-auto footer-button" href="{{ url('froq_portal.asset_library.detail', { 'id' : assetResource.id }) }}">
                        <twig:Tooltip label="View">
                            <div class="view-icon">{% include '@FroqPortal/icons/open-link.html.twig' %}</div>
                        </twig:Tooltip>
                    </a>
                    <div class="mx-auto footer-button">
                        <app-selector class="select-element card-footer-element py-2 mx-auto footer-button"
                                      trigger-id="selector-trigger"
                                      state="{{ assetResource.id }}"
                        >
                            <div id="selector-trigger" class="view-icon">
                                <twig:Tooltip label="Add to Basket">
                                    <span id="icon-selector-container">
                                        <span class="icon add-icon">{% include '@FroqPortal/icons/basket-add-icon.html.twig' %}</span>
                                        <span class="icon remove-icon d-none">{% include '@FroqPortal/icons/basket-remove-icon.html.twig' %}</span>
                                    </span>
                                </twig:Tooltip>
                            </div>
                        </app-selector>
                    </div>
                </div>
            </a>
        </app-grid-item>
    {% endfor %}
{% endif %}