{% extends '@FroqPortalBundle/portal-layout.html.twig' %}

{% block title %}
    {{ colourGuideline.name }} | Colour Library
{% endblock %}

{% block body %}
    <twig:Navbar logoLink="{{ path('froq_portal.colour_library.search') }}" :user="app.user" />

    <div class="mx-auto px-6 pb-12">
        <twig:Breadcrumb text="Back" />

        <div class="bg-white rounded-lg shadow-sm p-[38px] mb-6">
            <div class="flex justify-between items-center mb-6 h-52">
                <p class="text-36 leading-52 font-semibold text-[#171B3F]">{{ colourGuideline.name }}</p>

                {# TODO Implement Edit later #}
{#                <twig:EditButton href="{{ path('froq_portal.colour_library.edit', { id: colourGuideline.id }) }}" />#}
            </div>

            <div class="h-52">
                <p class="text-18 leading-32 font-bold mb-2">Brand:
                    {% set brands = colourGuideline.getBrands() %}
                    {{ brands|map(b => b.getName())|join(', ') }}
                </p>
                <p class="text-18 leading-32 font-bold">Markets:
                    {% set markets = colourGuideline.getMarkets() %}
                    {{ markets|map(m => m.getName())|join(', ') }}
                </p>
            </div>
            
            <twig:ColourGuidelineDescription description="{{ colourGuideline.description|default('') }}" />

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for colour in colourGuideline.colours %}
                    <twig:ColourCard :colour="colour" />
                {% endfor %}
            </div>
        </div>

        {% if colourGuideline.printGuidelines is not empty %}
            <div class="flex gap-6 mb-6">
                <div>
                    <label class="block text-16 font-medium text-[#333333] leading-[100%] mb-2">Print expert notes</label>

                    <twig:PrintingExpertNotesDropdown
                            id="printing-expert-notes-dropdown"
                            keyLabel="Search print expert notes..."
                            :printGuidelines="colourGuideline.printGuidelines"
                    />
                </div>
            </div>

            {% for printGuideline in printGuidelines %}
                <twig:PrintGuidelineSection :printGuideline="printGuideline" />
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
